/* * { outline: 1px solid #f00; } */

body { background: #f5f6f7; } 
.Wrap { width: 768px; margin: 0 auto; position: relative; } 
.container { width: 460px; margin: 0 auto; } 
.blind, .wa_blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0); } 
input, select, textarea { outline: none; cursor: pointer; } 
input { position: absolute; top: 50%; left: 0; width: 1px; height: 1px; } 
label { cursor: pointer; } 

/* Header START */
.header h1 { width: 240px; margin: 0 auto; padding: 60px 0 20px 0; } 
/* Header END */
/* !---------------- 이 위로 수정 없음 ---------------! */


/* Main START */
/* 공통 적용 부분 */
/* h3 타이틀 부분 */
.join_title { margin: 19px 0 8px; font-size: 14px; font-weight: 700; } 
/* 제일 바깥쪽 스판 박스(안에 인풋을 넣기 위해 한겹 싸는 스타일 박스) */
/* 선택항목 타이틀 옆 (선택) 텍스트 */
.terms_choice { font-size: 12px; font-weight: 400; color: #8e8e8e; } 
.ps_box { display: block; position: relative; width: 100%; border: solid 1px #dadada; padding: 10px 110px 10px 14px; background: #fff; box-sizing: border-box; /* vertical-align: top; */ } 
/* 포커스된 박스 보더 컬러 그린으로 체인지 */
.ps_box.focus { border: 1px solid #03c75a; } 
/* ps_box 중에서도 우측 공간이 없는 인풋 타입 박스 */
.box_right_space { padding-right: 14px; box-sizing: border-box; } 
/* 바깥쪽 span 안에 들어가있는 인풋 박스 */
.int { display: block; position: relative; width: 100%; height: 29px; padding-right: 25px; line-height: 29px; border: none; background: transparent; font-size: 15px; box-sizing: border-box; outline: 0; cursor: pointer; text-decoration: none; } 
/* 박스 하단에 뜨는 메세지 */
.error_next_box { display: none; margin: 9px 0 -2px; font-size: 12px; line-height: 14px; color: red; } 
.error_next_box.green { color: #08a600!important; } 
/* 셀렉트 박스 스타일 */
.sel { width: 98.4%; /* 우측 끝 아이콘들 라인 맞추기 위해서 */ height: 29px; font-size: 15px; line-height: 18px; color: #000; border: none; border-radius: 0; } 

/* 아이디 */
.step_url { position: absolute; top: 16px; right: 13px; font-size: 15px; line-height: 18px; color: #8e8e8e; } 


/* 비밀번호 */
/* 비밀번호 가능 여부 txt */
.lbl { display: block; position: absolute; top: 50%; left: 0; padding: 0 14px; width: 100%; margin-top: -9px; line-height: 18px; color: #8e8e8e; } 
.lbl .step_txt { display: inline-block; position: absolute; top: 0; right: 52px; font-size: 12px; } 
/* 비밀번호 아이콘 */
.ps_box.int_pass:after, .ps_box.int_pass_check:after { content: ''; display: inline-block; position: absolute; top: 50%; right: 13px; width: 24px; height: 24px; margin-top: -12px; background-image: url(../img/m_icon_pw_step.png); background-repeat: no-repeat; background-position: 0 0; background-size: 125px 75px; cursor: pointer; } 
.ps_box .lbl { left: 0; padding: 0 14px; width: 100%; box-sizing: border-box; display: block; position: absolute; top: 50%; left: 14px; margin-top: -9px; font-size: 15px; line-height: 18px; color: #8e8e8e; z-index: 9; } 

/* 비밀번호 재확인 */
.ps_box.int_pass_check:after { background-position: -27px 0; } 


/* 생년월일 */
.bir_wrap { display: table; width: 100%; } 
/* display 속성 테이블 확인 필요!! 테이블 레이아웃도 같이 알아볼 것!! */
.join_birthday .ps_box { padding: 11px 14px; } 
/* 월 선택 부분 */
.join_birthday .int { width: 100%; height: 29px; padding-right: 0; font-size: 15px; line-height: 18px; color: #000; border: none; border-radius: 0; } 


/* 성별 */
.gender_code { display: block; width: 100%; } 
.gender_code input { position: inherit; top: 0; left: inherit; width: 12px; height: 29px; vertical-align: middle; margin-right: 6px; } 
.gender_code label~label { margin-left: 20px; }


/* 본인 확인 이메일 */


/* 휴대전화 */
.country_code { display: block; width: 100%; padding-right: 7px; box-sizing: border-box; } 

/* 전화번호 입력 창 */
.join_mobile .int_mobile_area { position: relative; margin-top: 10px; padding: 0 125px 0 0; } 
.join_mobile .int_mobile_area .btn_verify { position: absolute; top: 0; right: 0; width: 115px; height: 51px; padding: 16px 0 16px; font-weight: 700; text-align: center; box-sizing: border-box; text-decoration: none; color: #fff; background: #03c75a; border: solid 1px rgba(0,0,0,.08); } 
.join_mobile .ps_box_disable { margin-top: 10px; background: #f7f7f7; outline: 0; display: block; position: relative; width: 100%; border: solid 1px #dadada; padding: 10px 110px 10px 14px; } 








/* !---------------- 이 아래 수정 없음 ---------------! */
/* 버튼 START */
.btn_area { display: flex; gap: 10px; margin: 30px 0 20px 0; } 
.btn_area .btn_primary { display: block; flex: 1; font-size: 18px; font-weight: 500; text-align: center; cursor: pointer; padding: 13px 0 15px 0; color: #fff; background: #03c75a; border: none; } 
/* Main END */

/* Footer START */
.footer { margin: 30px 0 15px 0; text-align: center; } 
.footer ul { font-size: 12px; font-style: normal; color: #333; margin-bottom: 14px; } 
.footer ul li { display: inline; } 
.footer ul li ~ li::before { content: ""; display: inline-block; background: #dadada; width: 1px; height: 10px; margin: 0 6px 0 2px; } 
.footer ul li:hover { color: #08a600; text-decoration: underline; } 
.footer ul li strong { font-weight: 700; } 
/* address START */
.footer address img { width: 60px; margin-right: 10px; } 
.footer address { font-size: 9px; color: #333; } 
.footer address a { font-weight: 700; } 
.footer address a:hover { color: #08a600; text-decoration: underline; } 
/* address END */
/* Footer END */