.wrap {width: 600px; margin: 0 auto; padding: 60px 0;}
.title {font-size: 22px; font-weight: 700; margin-bottom: 10px;}
.essential_text {font-size: 12px; font-weight: 400; text-align: right; margin-bottom: 10px;}
.star {font-size: 20px;color: tomato; vertical-align: -6px;}

tr {border-bottom: 1px solid #ddd;}
th {width: 20%; background: #efefef; border-right: 1px solid #ddd;}