/* * { outline: 1px solid #ddd; } */

.wrap { width: 600px; margin: 0 auto; padding: 60px 0; } 
.title { font-size: 22px; font-weight: 700; } 
.essential_text { font-size: 12px; font-weight: 400; text-align: right; } 
.essential_mark { display: flex; align-items: center; } 
.star { font-size: 20px; color: tomato; vertical-align: -6px; } 
.box { margin-bottom: 40px; } 
.choice_box { border: 1px solid #ddd; padding: 6px 20px 7px 10px; } 
.fullWidth { width: 100%; } 
.description { font-size: 12px; font-weight: 400; margin-bottom: 4px; } 
.pt_bl { color: #0075ff; } 



table { font-size: 14px; } 
table input:disabled { background: transparent; border: none; } 
table input { background: transparent; border: 1px solid #ddd; padding: 6px 10px 7px 10px; } 
tr { border-bottom: 1px solid #ddd; text-align: left; } 
th { width: 20%; background: #efefef; border-right: 1px solid #ddd; padding-left: 20px; } 
td { padding: 10px 10px; } 
label { font-weight: 500; } 
td label,input[type=radio],input[type=checkbox],input[type=submit],td select { cursor: pointer; } 
input[type=radio]~input[type=radio],input[type=checkbox]~input[type=checkbox] { margin-left: 10px; } 
input[type=radio] { margin: 10px auto; } 


.QNA_question { height: 100px; overflow: auto; resize: none; border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; } 
.personal_data_des { padding: 10px 20px; line-height: 20px; font-size: 14px; font-weight: 500; color: #555; border: 3px solid #ddd; margin: 20px 0 4px 0; } 
.inner_radio input[type=radio] { margin-left: 10px; } 
.inner_radio label~label { cursor: pointer; } 
.box04 { display: flex; justify-content: center; gap: 16px; } 
.box04 a { display: block; background: #fff; border: 2px solid #ddd; font-size: 16px; font-weight: 400; text-align: center; width: 110px; height: 44px; line-height: 38px; } 
.box04 input { display: block; background: #0075ff; color: #fff; border: none; outline: none; font-size: 16px; font-weight: 400; text-align: center; width: 110px; height: 44px; } 