/* * { outline: 1px solid #ddd; } */

.Wrap { width: 600px; margin: 0 auto; padding: 60px 0; } 
.title { font-size: 22px; font-weight: 700; } 
.essential_text { font-size: 12px; font-weight: 400; text-align: right; } 
.essential_mark { display: flex; align-items: center; } 
.star { font-size: 20px; color: tomato; vertical-align: -6px; } 
.box { margin-bottom: 40px; } 
.choice_box { border: 1px solid #ddd; padding: 6px 20px 7px 10px; } 
.fullWidth { width: 100%; } 
.description { font-size: 12px; font-weight: 400; margin-bottom: 4px; } 
.pt_bl { color: #0075ff; } 



table { font-size: 14px; } 
table input:disabled { background: transparent; border: none; } 
table input { background: transparent; border: 1px solid #ddd; padding: 6px 10px 7px 10px; } 
tr { border-bottom: 1px solid #ddd; text-align: left; } 
th { width: 20%; background: #efefef; border-right: 1px solid #ddd; padding-left: 20px; } 
td { padding: 10px 10px; } 
label { font-weight: 500; } 
td label,input[type=radio],input[type=checkbox],input[type=submit],td select { cursor: pointer; } 
input[type=radio]~input[type=radio],input[type=checkbox]~input[type=checkbox] { margin-left: 10px; } 
input[type=radio] { margin: 10px auto; } 
input[type=button] { cursor: pointer; } 

.QNA_question { height: 100px; overflow: auto; resize: none; border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; } 
.personal_data_des { padding: 10px 20px; line-height: 20px; font-size: 14px; font-weight: 500; color: #555; border: 3px solid #ddd; margin: 20px 0 4px 0; } 
.inner_radio input[type=radio] { margin-left: 10px; } 
.inner_radio label~label { cursor: pointer; } 
.box04 { display: flex; justify-content: center; gap: 16px; } 
.box04 a { display: block; background: #fff; border: 2px solid #ddd; font-size: 16px; font-weight: 400; text-align: center; width: 110px; height: 44px; line-height: 38px; } 
.box04 input { display: block; background: #0075ff; color: #fff; border: none; outline: none; font-size: 16px; font-weight: 400; text-align: center; width: 110px; height: 44px; } 


/* 파일 첨부 부분 */
.file_box { display: flex; gap: 30px; } 
.bgimg_box { display: flex; flex-direction: column; } 

.where { display: block; margin: 25px 15px; font-size: 11px; color: #000; text-decoration: none; font-family: verdana; font-style: italic; } 
.filebox { margin-bottom: 6px; } 
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } 
.filebox label { display: inline-block; padding: .5em .75em; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } 

/* named upload */
.filebox .upload-name { display: inline-block; text-align: center; font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: transparent; -webkit-appearance: none; /* 네이티브 외형 감추기 */
 -moz-appearance: none; appearance: none; } 
 
/* imaged preview */
.filebox .upload-display { display: inline-block; vertical-align: middle; } 
/* 여기가 썸네일 구간! */
.filebox .upload-thumb-wrap { display: inline-block; vertical-align: middle; overflow: hidden; width: 100px; height: 100px; padding: 2px; border: 1px solid #ddd; background-color: #fff; border-radius: 3px; position: absolute; } 
.bgimg01 .filebox .upload-thumb-wrap{top: 10px; left: 10px; }
.bgimg02 .filebox .upload-thumb-wrap{top: 10px; left: 140px; }
.bgimg03 .filebox .upload-thumb-wrap{top: 10px; left: 270px; }


.filebox .upload-display img { display: inline-block; vertical-align: middle; max-width: 100%; height: auto; } 
.filebox.bs3-primary label { position: absolute; color: #fff; background-color: #0075ff; border: none; width: 20px; height: 20px; border-radius: 50%; padding: 0px; text-align: center; } 
/* 요거 + 버튼임! */
.bgimg01 .filebox.bs3-primary label { top: 99px; left: 100px; } 
.bgimg02 .filebox.bs3-primary label { top: 99px; left: 230px; } 
.bgimg03 .filebox.bs3-primary label { top: 99px; left: 360px; } 

/* 선택하기 전부터 .filebox .upload-display 이미지가 보이게 해둬야함.. */
.attach_file_body { position: relative; } 
.back_img { padding: 2px; border: 1px solid #ddd; overflow: hidden; width: 100px; height: 100px; border-radius: 3px; } 






.fileuploder label {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #cae1f2;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.fileuploder input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}